<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Core.WinForms" version="17.1.0.38" targetFramework="net45" />
  <package id="Syncfusion.Data.WinForms" version="17.1.0.38" targetFramework="net45" />
  <package id="Syncfusion.DataSource.WinForms" version="17.1.0.38" targetFramework="net45" />
  <package id="Syncfusion.GridCommon.WinForms" version="17.1.0.38" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="17.1.0.38" targetFramework="net45" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="17.1.0.38" targetFramework="net45" />
  <package id="Syncfusion.SfInput.WinForms" version="17.1.0.38" targetFramework="net45" />
  <package id="Syncfusion.SfListView.WinForms" version="17.1.0.38" targetFramework="net45" />
  <package id="Syncfusion.Shared.Base" version="17.1.0.38" targetFramework="net45" />
</packages>